@model IEnumerable<Entity.Models.Makale>
@{
    ViewBag.Title = "Home Page";
}

@section Slider{
    <div id="pageintro" class="hoc clear">
   
    <div class="flexslider basicslider">
        <ul class="slides clear">
            <li>
                <article>
                    <p>Kişisel Bloguma Hoşgeldiniz</p>
                    <h2 class="heading"></h2>
                    <footer>
                        <ul class="nospace inline pushright">
                           
                            
                        </ul>
                    </footer>
                </article>
            </li>
            <li>
                <article>
                    <p>Hayata bir gülücük bırak</p>
                    <h2 class="heading"></h2>
                    <footer>
                        <ul class="nospace inline pushright">
                            <li><a class="btn" href="AdminMakale/Details/1002">OKU</a></li>
                           
                        </ul>
                    </footer>
                </article>
            </li>
            <li>
                <article>
                    <p>Blogger Günlüğüm</p>
                    <h2 class="heading"></h2>
                    <footer>
                        <ul class="nospace inline pushright">
                            <li><a class="btn" href="AdminMakale/Details/5">OKU</a></li>
                            
                        </ul>
                    </footer>
                </article>
            </li>
        </ul>
    </div>
   
</div>
    }

<div class="wrapper row3">
    <main class="hoc container clear">        
        <div class="group">
            <div class="one_half first">
                <p class="font-xs">Son Yazım</p>
                <h6 class="heading font-x3">Nasıl Motive Olursunuz?</h6>
                <p>İnsanlara motivasyonlarını sağlamaları ve sürdürmeleri için verilen birçok tavsiye vardır. Bu içeriğimle de size motive olabilmeniz için birkaç yol göstermek istedim. İşinize yarayacaklarını umuyor ve keyifli okumalar diliyorum...</p>
                <p>Sizi teşvik eden şeyleri dikkatli kullanın [&hellip;]</p>
                <footer><a class="btn" href="AdminMakale/Details/6">OKU</a></footer>
            </div>
            <div class="one_half"><a href="#"><img src="/Content/artland/images/demo/backgrounds/kapak.jpg" alt=""></a></div>
        </div>               
        <div class="clear"></div>
       
    </main>
</div>

<div class="wrapper row2">
    <div class="hoc container clear">

@foreach (var item in Model)
{
    if (@item.MakaleID == 2)
    { <article class="one_third first">           
          <h6 class="heading font-x1">@item.Title</h6>
          <p class="btmspace-30">@item.Description</p>
          <a href="Makale/Detail/"><img src="/Content/artland/images/demo/backgrounds/kişiselblogarkaplan.jpg" alt=""></a>
          <footer class="btmspace-15"><a class="btn" href="/AdminMakale/Details/2">OKU</a></footer>
        </article>
    }

}
        
@foreach (var item in Model)
{
    if (@item.MakaleID == 3)
    {
        <article class="one_third">                       
            <h6 class="heading font-x1">@item.Title</h6>
            <p class="btmspace-30">@item.Description</p>
            <a href="Makale/Detail/"><img src="/Content/artland/images/demo/gallery/kişiselblogvakit.jpg" alt=""></a>
            <footer class="btmspace-15"><a class="btn" href="/AdminMakale/Details/3">OKU</a></footer>
        </article>

    }
}
    
   

@foreach (var item in Model)
{
    if (@item.MakaleID == 4)
    {
        <article class="one_third">           
            <h6 class="heading font-x1">@item.Title</h6>
            <p class="btmspace-30">@item.Description</p>
            <a href="Makale/Detail/"><img src="/Content/artland/images/demo/gallery/dizi1.jpg" alt=""></a>
            <footer class="btmspace-15"><a class="btn" href="/AdminMakale/Details/4">OKU</a></footer>
        </article>
    }

}
   

    </div>
</div>

@*@*<div class="wrapper row3">
    <section class="hoc container clear">
        <div class="sectiontitle center">
            <h2 class="heading"></h2>
            <p>Massa eleifend aliquet cras eu elit eget ipsum vehicula rutrum</p>
        </div>
        <ul class="nospace group services">
            <li class="one_third first">
                <article>
                    <a href="#"><i class="fa fa-leaf"></i></a>
                    <h6 class="heading">Vulputate et ac nisl</h6>
                    <p>In iaculis dolor praesent in ex sed purus venenatis aliquet fusce aliquet iaculis pulvinar donec [&hellip;]</p>
                    <footer><a href="#">Read More &raquo;</a></footer>
                </article>
            </li>
            <li class="one_third">
                <article>
                    <a href="#"><i class="fa fa-skyatlas"></i></a>
                    <h6 class="heading">Integer pretium orci</h6>
                    <p>Magna fermentum tristique vestibulum at dignissim augue integer porta tempus blandit [&hellip;]</p>
                    <footer><a href="#">Read More &raquo;</a></footer>
                </article>
            </li>
            <li class="one_third">
                <article>
                    <a href="#"><i class="fa fa-life-bouy"></i></a>
                    <h6 class="heading">Non gravida maecenas</h6>
                    <p>Ex sit amet consequat placerat aenean sed nunc maximus sagittis elit quis tincidunt [&hellip;]</p>
                    <footer><a href="#">Read More &raquo;</a></footer>
                </article>
            </li>
            <li class="one_third first">
                <article>
                    <a href="#"><i class="fa fa-area-chart"></i></a>
                    <h6 class="heading">Cursus eros a sem</h6>
                    <p>Metus in fermentum eros mauris nec risus consectetur elementum orci lobortis condimentum [&hellip;]</p>
                    <footer><a href="#">Read More &raquo;</a></footer>
                </article>
            </li>
            <li class="one_third">
                <article>
                    <a href="#"><i class="fa fa-empire"></i></a>
                    <h6 class="heading">Cursus porta semper</h6>
                    <p>Ligula eu velit varius dignissim ut gravida mauris eu sodales praesent sollicitudin magna [&hellip;]</p>
                    <footer><a href="#">Read More &raquo;</a></footer>
                </article>
            </li>
            <li class="one_third">
                <article>
                    <a href="#"><i class="fa fa-street-view"></i></a>
                    <h6 class="heading">Nulla lacinia efficitur</h6>
                    <p>Congue enim morbi lacus purus posuere luctus est non semper posuere integer consequat [&hellip;]</p>
                    <footer><a href="#">Read More &raquo;</a></footer>
                </article>
            </li>
        </ul>
        <!-- ################################################################################################ -->
    </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded" style="background-image:url('/Content/artland/images/demo/backgrounds/makyaj4.jpg');background-size:1400px;">
    <section id="callback" class="hoc container clear">
       
        <!-- ################################################################################################ -->
        <div class="one_half first">
            <div class="inspace-30 row3">
                <h6 class="heading">Quisque condimentum</h6>
                <p class="btmspace-30">Justo sit amet placerat a magna sit amet nunc malesuada mollis suspendisse rutrum nisi eu rhoncus</p>
                <form method="post" action="#">
                    <fieldset>
                        <input type="text" value="" placeholder="Name">
                        <input type="text" value="" placeholder="Email">
                        <button type="submit" value="submit">Submit</button>
                    </fieldset>
                </form>
            </div>
        </div>
      
    </section>
</div>

<div class="wrapper row4 bgded overlay" style="background-image:url('/Content/artland/images/demo/backgrounds/makyaj4.jpg');">
    <footer id="footer" class="hoc clear">
        
        <div class="one_third first">
            <h6 class="heading">İLKNUR</h6>
            <nav>
                <ul class="nospace">
                    <li><a href="index.html"><i class="fa fa-lg fa-home"></i></a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Cookies</a></li>
                    <li><a href="#">Disclaimer</a></li>
                    <li><a href="#">Online Shop</a></li>
                    <li><a href="#">Sitemap</a></li>
                </ul>
            </nav>
            <p>Viverra in vel consequat libero lorem ipsum dolor sit amet consectetur</p>
            <ul class="faico clear">
                <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a class="faicon-vk" href="#"><i class="fa fa-vk"></i></a></li>
            </ul>
        </div>
        <div class="one_third">
            <h6 class="heading">Adipiscing elit nulla</h6>
            <ul class="nospace linklist contact">
                <li>
                    <i class="fa fa-map-marker"></i>
                    <address>
                        Street Name &amp; Number, Town, Postcode/Zip
                    </address>
                </li>
                <li><i class="fa fa-phone"></i> +00 (123) 456 7890</li>
                <li><i class="fa fa-fax"></i> +00 (123) 456 7890</li>
                <li><i class="fa fa-envelope-o"></i> info@domain.com</li>
            </ul>
        </div>
        <div class="one_third">
            <h6 class="heading">Gravida purus quis mauris</h6>
            <ul class="nospace linklist">
                <li>
                    <article>
                        <h2 class="nospace font-x1"><a href="#">Imperdiet a auctor odio</a></h2>
                        <time class="font-xs block btmspace-10" datetime="2045-04-06">Friday, 6<sup>th</sup> April 2045</time>
                        <p class="nospace">Tristique orci ut malesuada fermentum quam non sed eget sagittis mi [&hellip;]</p>
                    </article>
                </li>
                <li>
                    <article>
                        <h2 class="nospace font-x1"><a href="#">Vehicula aliquam ornare</a></h2>
                        <time class="font-xs block btmspace-10" datetime="2045-04-05">Thursday, 5<sup>th</sup> April 2045</time>
                        <p class="nospace">Vivamus luctus nec eros nec tincidunt donec at sagittis nisi in id massa [&hellip;]</p>
                    </article>
                </li>
            </ul>
        </div>
       
    </footer>
</div>*@

